<footer>
	<p>
		<strong>CRYPTO</strong>CONVERT, use
		<a href="https://www.binance.com/fr/register?ref=101193593" target="_blank">Binance</a>
		API. By
		<a href="http://chrisdev.fr/">Chris</a>
	</p>
</footer></div><script>
document.getElementById('amount').focus();</script></body></html>
