<footer>
	<p>
		<strong>CRYPTO</strong>CONVERT, use
		<a href="https://www.binance.com/fr/register?ref=101193593" target="_blank">Binance</a>
		API. By
		<a href="http://chrisdev.fr/" target="_blank">Chris</a>
	</p>
</footer></div><script src="{{ asset('./assets/js/app.js') }}"></script></body></html>
