{% extends 'base.html.twig' %}

{% block title %}Convert'Crypto
{% endblock %}

{% block body %}

	<div class="container mt-2">
		<form class="row g-3" method="post">
			<div class="col-auto">
				<label for="staticEmail2" class="visually-hidden">Convertir</label>
				<input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="Convertir en Bitcoin">
			</div>
			<div class="col-auto">
				<label for="inputPassword2" class="visually-hidden">Montant</label>
				<input type="text" name="devise" class="form-control" id="inputConvert" placeholder="Montant en dollar">
			</div>
			<div class="col-auto">
				<button type="submit" class="btn btn-primary mb-3">Convertir !</button>
			</div>
		</form>
		{% if app.request.attributes.get('_route') == 'post_usd' %}
			<div>
				<p>
					{{ amountUSD }}$
																					=
					{{ amountBTC }}
					BTC
				</p>
			</div>
		{% endif %}
	</div>

{% endblock %}
